#
# MB86A35S_DEVICE subsystem configuration
#

#menu "MB86A36K support"

config MB86A36K_ISDB_T
	default n
	---help---
	  This driver implements the front-end of the Xen virtual
	  keyboard and mouse device driver.  It communicates with a back-end
	  in another domain.
  
#endmenu