#menu "CPU Controls"

config CPU_OC
    bool "Enable 2.496 Ghz CPU Overclock"
    default y
    help
	Enabled CPU overclocking to 2.419 Ghz per core

config CPU_UNDERCLOCK
	bool "Enable CPU Underclocking option"
	default n
	help
	  Krait underclocking to 96Mhz

config CPU_VOLTAGE_TABLE
	bool "Enable CPU Voltage Table via sysfs for adjustements"
	default y
	help
	  Krait CPU User Votlage Control

#endmenu
