#menu "CPU Controls"

config CPU_OVERCLOCK
	bool "Enable 2.572 Ghz CPU Overclock"
	default y
	help
	  Enabled CPU overclocking to 2.572 Ghz per core

config OC_ULTIMATE
	bool "Enable Ultimate Overclocking option"
	depends on CPU_OVERCLOCK
	default y
	help
	  Krait overclocking up to 2.8 GHz

config TURBO_BOOST
	bool "Enable CPU Turbo boost option"
	depends on CPU_OVERCLOCK
	default y
	help
	  This option allows overclocking of 2 cores to higher clock rate
	  than stock maximum.  When more than 2 cores are active, the clock
	  is limited to stock max speeds

config CPU_MAX_LIMIT
	bool "Allow to set force max/min freq"
	default n
	depends on !MSM_CPUFREQ_LIMITER
	help
	  This code is merged from Samsung DVFS code
	  It's allow us to set hard Freq limit and provide
	  interface for allowing OC or not!

config CPU_UNDERCLOCK
	bool "Enable CPU Underclocking option"
	default n
	help
	  Krait underclocking to 96Mhz

config CPU_VOLTAGE_TABLE
	bool "Enable CPU Voltage Table via sysfs for adjustements"
	default y
	help
	  Krait CPU User Votlage Control

#endmenu
